<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="4e4ceb69-7770-4dee-a392-126590e50f78" wadlVersion="http://wadl.dev.java.net/2009/02" name="Football API" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="4e4ceb69-7770-4dee-a392-126590e50f78fileName">Football-API</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://api.football-data.org</con:endpoint></con:endpoints></con:interface>